In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
import sys
sys.path.insert(0, r'C:\Users\tempf\Desktop\denari')

In [20]:
import pandas as pd
from denari import tributum as tax

In [8]:
dir(tax)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'adjust_allowance',
 'adjust_ni_band',
 'corporate_ni',
 'corporation_tax',
 'create_dividend_table',
 'create_student_loan_table',
 'create_table',
 'dividend_tax',
 'employee_ni',
 'get_law',
 'income_tax',
 'interpret_single_df_value',
 'interpret_tax_code_allowance',
 'interpret_tax_code_ni_band',
 'iterate_full_take',
 'iterate_lite_full_take',
 'iterate_salaries',
 'ltd_full_take',
 'marginal',
 'marginalise',
 'optimal_iterations',
 'optimal_take',
 'replace_threshold_rates',
 'salary_taxes',
 'student_loans',
 'tax_year']

In [11]:
df = 0
country_code = 'uk'

a = tax.tax_year(df,country_code)
a

AttributeError: 'int' object has no attribute 'loc'

In [22]:
law = [
    "income tax",
    "employee ni",
    "corporate ni",
    "dividend rates",
    "student loans",
    "corporation tax",
    "employee ni bands",
    "corporate ni bands",
    "high income threshold",
    "dividend tax free allowance"
]
law_item = 1

b = tax.get_law(law[law_item])
b

'C:\\Users\\tempf\\Desktop\\denari\\denari\\Tax Tables\\uk\\2023-2024\\thresholds_employee_national_insurance.csv'

# Create Module
Create a module that will take the csv file and create a dataframe from it

In [23]:
c = pd.read_csv(b)
c

   threshold min  rate
0              0  0.00
1           9568  0.12
2          50270  0.02

In [25]:
d = tax.create_table(c)
d

   threshold min  threshold max  rate
0              0         9568.0  0.00
1           9568        50270.0  0.12
2          50270            inf  0.02

In [27]:
cash = 3000000
tax_table = d

e = tax.marginal(cash,tax_table)
e

63878.84

In [28]:
f = tax.marginalise(cash,c)
f

63878.84